<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097117289940-7ehhrht1t10c5khi027uassotmiqc204.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097117289940-7ehhrht1t10c5khi027uassotmiqc204</string>
	<key>API_KEY</key>
	<string>AIzaSyAgeSg4ygCrVVLxAK7sLAmhLGwmCcvtD6k</string>
	<key>GCM_SENDER_ID</key>
	<string>1097117289940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathonIrang</string>
	<key>PROJECT_ID</key>
	<string>hackathon-8edd8</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-8edd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097117289940:ios:530700197fcc890a53da41</string>
</dict>
</plist>